name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    defaults:
      run:
        shell: pwsh

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          version: "latest"

      - name: Install dependencies
        run: uv sync

      - name: Build Executable
        run: uv run build.py

      - name: Verify Build Artifact
        run: |
          if (Test-Path "dist/PUBG_Map_Overlay.exe") {
            echo "Executable found!"
            ls dist/
          } else {
            echo "Executable NOT found!"
            exit 1
          }

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/PUBG_Map_Overlay.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
